.messages-list {
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
}

.message-content {
  display: flex;
  align-items: center;
}

.message-content.currentMember {
  justify-content: end;
}

.message-content > .username {
  display: block;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 4px;
}

.message-content > .timestamp {
  display: block;
  color: gray;
  font-size: 1.4rem;
  padding-left: 10px;
}

.message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: cornflowerblue;
  color: var(--secondary-color);
  font-size: 1.6rem;
}

.message-content.currentMember > .text {
  background-color: orangered;
}

.messages-list__li {
  padding-right: 20px;
  padding-left: 20px;
}
